@media only screen and (min-width: 35rem) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto auto;
    }
    main div:nth-child(1) {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    main div:nth-child(2) {
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    main div:nth-child(3) {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    main div:nth-child(4) {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    #mid_only {display: block;}
    .discover div img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
    .discover, .join, .directory, .contact-main{
        display: block;
    }
    #herobtna {
        grid-row: 5;
    }
    .btn {font-size: 1.1rem;}
    header {
        grid-template-columns: 60px auto 140px 41px;
    }
    #social a img {
        max-width: 40px;
    }
    .child a {
        font-size: 2rem;
    }
    .reception {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .left p {
        grid-row: 2;
        grid-column: 1;
        line-height: 2;
    }
    .left img {
        grid-row: 2;
        grid-column: 2;
    }
    .right h2 {
        grid-column: 2;
    }
    .right p {
        grid-row: 2;
        grid-column: 2;    
    }
    .right img {
        grid-row: 2;
        grid-column: 1;    
    }
    #forecast {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    #forecast h2 {
        grid-row: 1;
        grid-column: 1/-1;
    }
    .weatherData {
        grid-row: 2;
    }
}
@media only screen and (min-width: 638px) {
    #spotlights {
    display: flex;
    place-items: center;
    }
}
@media only screen and (min-width: 742px) {
    #hero h2 {
        grid-column: 1/7;
        font-size: 4rem;
        background-color: transparent;
    }
    .reception p {
        font-size: 1.2rem;
    }
}
@media only screen and (min-width: 875px) {.grid{ display: flex;}}