/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Kanit:wght@700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #8FDFF4;
  --secondary-color: #FDB01F;
  --accent1-color: #3DBF33;
  --accent2-color: #08A8E0;

  /* change the values below to your chosen font(s) */
  --heading-font: "Kanit";
  --paragraph-font: "Bitter";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #08A8E0;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #14213D;
  --nav-link-color: #14213D;
  --nav-background-color: #3DBF33;
  --nav-hover-link-color: #FCA311;
  --nav-hover-background-color: #08A8E0;
}

/*  Look around below...but DON'T CHANGE ANYTHING! */
html {
  background-color: var(--primary-color);
}
body {
  max-width: 1500px;
  margin: 0 auto;
  padding: 1em;
}

main {
  max-width: 1500px;
  margin: auto;
  background-color: white;
}

img {
  max-width: 100%;
}

.container{
    padding: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  padding: 1em;
  
  margin: 0;
}
h2 {
  color: var(--headline-color-on-color);
  background-color: #FCA311;
  border-radius: 0px 0px 25px 25px;
}

h1{
  font-size: 1.4em;  
}

header {
  text-align: center;
  padding: 1em;
  background-color: var(--headline-color-on-white);
  border-radius: 25px 25px 0px 0px;
}


header > h1, header > h2 {
  color: var(--headline-color-on-color);
  
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
  font-size: 1em;
  margin: 0;
}
nav{
  font-family: var(--heading-font);
  padding: 1em;
  font-size: 1em;
	background-color: var(--nav-background-color);
	margin: 0 auto;
	max-width: 1500px;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: var(--headline-color-on-color);
	text-align: center;
	background: linear-gradient(90deg, transparent, var(--nav-hover-link-color), transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}

a {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 0.4em;
  font-size: 1em;  
}

footer {
  text-align: center;
  padding: 1em;
  background-color: var(--headline-color-on-white);
  color: white;
  border-radius: 0px 0px 25px 25px;
}

#page_title{
    font-family: var(--heading-font);
    color: white;
    font-size: 2em;
    margin: 0em;
}