/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Kanit:wght@700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #E5E5E5;
  --secondary-color: #FCA311;
  --accent1-color: black;
  --accent2-color: #14213D;

  /* change the values below to your chosen font(s) */
  --heading-font: "Kanit";
  --paragraph-font: "Bitter";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #14213D;  /* headlines on a white background */ 
  --headline-color-on-color: #FCA311; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #14213D;
  --nav-link-color: #14213D;
  --nav-background-color: #E5E5E5;
  --nav-hover-link-color: #FCA311;
  --nav-hover-background-color: black;
}

/*  Look around below...but DON'T CHANGE ANYTHING! */
html {
  background-color: var(--primary-color);
}
body {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
}

main {
  max-width: 940px;
  margin: auto;
  background-color: white;
  border-radius: 25px 25px 0px 0px;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  padding: 1em;
  background-color: #FCA311;
  border-radius: 25px 25px 25px 25px;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  padding: 1em;
  background-color: var(--headline-color-on-white);
  border-radius: 25px 25px 25px 25px;
}

#name{
  grid-column: 2/3;
  color: #E5E5E5;
  align-self: center;
  font-size: 3em;
}

header > h1, header > h2 {
  color: var(--headline-color-on-color);
  
}

p, label, button {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 0.4em;
  font-size: 1em;
}
nav{
  font-family: var(--paragraph-font);
  padding: 1em;
  font-size: 1em;
}

#title{
  border-bottom: 3px solid #14213D;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: var(--headline-color-on-white);
  color: #E5E5E5;
  border-radius: 0px 0px 25px 25px;
}